*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/app/build
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml
app/build/generated/source/buildConfig/androidTest/debug/com/example/testdroidapp/test/BuildConfig.java
